<html lang="en" dir="rtl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/grid-flex.css">
	<link rel="shortcut icon" type="image/x-icon" href="pouya.ico">
	<!-- title -->
	<title>چرخه</title>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="header col1">
			<div class="logo"><img src="pouya.png"></div>
			<div class="site-name  large-screen"><span class="cyan bold">چر</span><span class="red bold">خه</span></div>
		</div>
		<div class="header col2">
			<div class="search">
				<input aria-label="search" placeholder="جست و جو" type="text">
				<button><img src="search.png" alt=""></button>
				<button><img src="filter.png" alt=""></button>
			</div>
		</div>
		<div class="large-screen header col3">
			<a href=""><div class="notification"><img src="notification.png" alt=""></div></a>
			<a href=""><div class="transactions"><img src="transaction.png" alt=""></div></a>
			<a href=""><div class="account"><img src="avatar.png" alt=""></div></a>
		</div>
		
	</div>
		<!-- body -->
	<main>
		<div class="main-container">
			<div class="card">
				<%- include('components/card3') -%>
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card4') -%>
				
			</div>
			<div class="card">
				<%- include('components/card2') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
			<div class="card">
				<%- include('components/card4') -%>
			</div>
			<div class="card">
				<%- include('components/card2') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
			<div class="card">
				<%- include('components/card3') -%>
				
			</div>
			<div class="card">
				<%- include('components/card') -%>
				
			</div>
			<div class="card">
				<%- include('components/card3') -%>
				
			</div>
			<div class="card">
				<%- include('components/card4') -%>
				
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card2') -%>
				
			</div>
			<div class="card">
				<%- include('components/card') -%>
				
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card3') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
			<div class="card">
				<%- include('components/card') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card3') -%>
				
			</div>
			<div class="card">
				<%- include('components/card4') -%>
				
			</div>
			<div class="card">
				<%- include('components/card2') -%>
				
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
			<div class="card">
				<%- include('components/card4') -%>
				
			</div>
			<div class="card">
				<%- include('components/card5') -%>
				
			</div>
			<div class="card">
				<%- include('components/card') -%>
				
			</div>
			<div class="card">
				<%- include('components/card3') -%>
				
			</div>
			<div class="card">
				<%- include('components/card6') -%>
				
			</div>
		</div>
	</main>
</body>
<script src="js/flexGrid.js"></script>
<script type="module">
	myGrid();
	window.addEventListener("resize", myGrid);
</script>
</html>